@page "/technicians/delete"
@using Microsoft.EntityFrameworkCore
@using ManagmentRequests.Components.Models
@inject IDbContextFactory<ManagmentRequests.Data.ManagmentRequestsContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Удалить техника</PageTitle>

<h1>Удалить</h1>

<p>Вы уверены?</p>
<div>
    <h2>Техник</h2>
    <hr />
    @if (technician is null)
    {
        <p><em>Загрузка...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">ФИО</dt>
            <dd class="col-sm-10">@technician.Fullname</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Номер телефона</dt>
            <dd class="col-sm-10">@technician.PhoneNumber</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Почтовый адрес</dt>
            <dd class="col-sm-10">@technician.Email</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Специализация</dt>
            <dd class="col-sm-10">@technician.Specialization</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Дата приема на работу</dt>
            <dd class="col-sm-10">@technician.HireDate</dd>
        </dl>
        <EditForm method="post" Model="technician" OnValidSubmit="DeleteTechnician" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(technician is null)">Удалить</button> |
            <a href="/technicians">Назад</a>
        </EditForm>
    }
</div>

@code {
    private Technician? technician;

    [SupplyParameterFromQuery]
    private int ID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        technician = await context.Technicians.FirstOrDefaultAsync(m => m.ID == ID);

        if (technician is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteTechnician()
    {
        using var context = DbFactory.CreateDbContext();
        context.Technicians.Remove(technician!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/technicians");
    }
}
